<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.layout == 'post' %}
    {% assign meta_title = page.title %}
    {% assign meta_author = page.author | default: site.author %}
    {% assign meta_description = page.excerpt | strip_html | truncatewords: 75 %}
    {% assign meta_url = site.url | append: site.baseurl | append: page.url %}
    {% assign meta_type = 'article' %}
    {% else %}
    {% assign meta_title = site.title %}
    {% assign meta_author = site.author %}
    {% assign meta_description = site.description | strip_html %}
    {% assign meta_url = site.url %}
    {% assign meta_image = site.image %}
    {% assign meta_type = 'website' %}
    {% endif %}
    <meta name="title" content="{{ meta_title }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="자바카페 블로그, 자바카페 기술 블로그, 자바카페, JavaCafe, javacafe, java cafe, java, JavaCafe Tech Blog, 자바카페 세미나, 자바카페 스터디, Java Cafe, java cafe, 개발자 커뮤니티, Developer Community">
    <meta name="author" content="{{ meta_author }}">
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="{{ meta_type }}"/>
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ meta_image }}">
    <meta property="og:url" content="{{ meta_url }}"/>


    <!-- 네이버 웹마스터-->
    <meta name="naver-site-verification" content="7e13a6dbed07cd4129f3e3698b2ff7e038cf3c20"/>

    <title>{{ meta_title }}</title>

    <link rel="shortcut icon" href="http://tech.javacafe.io/logo.ico" type="image/x-icon" />
    <link rel="icon" href="http://tech.javacafe.io/logo.ico" type="image/x-icon" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 구글 애널리틱스-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112252937-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112252937-1');
    </script>

    {% feed_meta %}

</head>
